{% extends "base.html" %}
{% block content %}

<section id="add_recipe" class="d-flex justify-content-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">

        <div class="section-title">
            <h2>Add Recipe</h2>
            <p>Share Your Own Recipe For The World To Enjoy</p>
        </div>

        <div class="container" data-aos="fade-up">

            <div class="col-lg-12 mt-5 mt-lg-0">

                <form action="{{ url_for('add_recipe') }}" method="POST" role="form" class="add-recipe-form mt-5">
                    <!-- Recipe Title row-->
                    <div class="row recipe_title">
                        <div class="col-md-12 form-group mb-3">
                            <input type="text" name="recipe_title" class="form-control" id="recipe_title"
                                placeholder="Recipe Title" required>
                        </div>
                    </div>
                    <!-- Recipe summary row-->
                    <div class="row">
                        <div class="col-md-12 form-group mb-3">
                            <input type="text" name="recipe_summary" class="form-control" id="recipe_summary"
                                placeholder="Recipe Summary">
                        </div>
                    </div>
                    <!-- Recipe servings & ready_in row -->
                    <div class="row">
                        <div class="col-md-6 form-group mb-3 mt-md-0">
                            <input type="number" class="form-control" name="recipe_servings" id="recipe_servings"
                                placeholder="Serves how many people" required>
                        </div>
                        <div class="col-md-6 form-group mb-3 mt-md-0">
                            <input type="number" class="form-control" name="recipe_ready_in" id="recipe_ready_in"
                                placeholder="Preparation time in minutes" required>
                        </div>
                    </div>
                    <!-- Recipe category_name and calories row-->
                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <select class="form-select" name="category_name" id="category_name" aria-label="Meal category name" required>
                                <option selected>Select Recipe Category</option>
                                {% for category in categories %}
                                <option value="{{ category.category_name|capitalize }}">
                                    {{ category.category_name|capitalize }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <input type="number" class="form-control" name="recipe_calories" id="recipe_calories"
                                placeholder="Kcal Per Serving">
                        </div>
                    </div>
                    <!-- Recipe ingredients row-->
                    <div class="row add-recipe-ingredients-field">
                        <div class="col-md-9 form-group mb-3 add-recipe-ingredients-field">
                            <input type="text" name="recipe_ingredients" class="form-control" id="recipe_ingredients"
                                placeholder="Add ingredient, one at a time">
                        </div>
                        <div class="text-center col-md-3">
                            <button class="add-recipe-btn add-ingredient-btn mb-3" type="submit"><i
                                    class="fas fa-plus"></i> Add Ingredient</button>
                        </div>
                    </div>
                    <!-- Recipe Method row-->
                    <div class="row">
                        <div class="col-md-9 form-group mb-3">
                            <input type="text" name="recipe_method" class="form-control" id="recipe_method"
                                placeholder="Add cooking method, one step at a time">
                        </div>
                        <div class="text-center col-md-3 mb-3">
                            <button class="add-recipe-btn add-method-btn" type="submit"><i class="fas fa-plus"></i> Add
                                Cooking Step</button>
                        </div>
                    </div>
                    <!-- Recipe image URL row-->
                    <div class="row">
                        <div class="col-md-12 form-group mb-3">
                            <input type="url" name="recipe_image_url" class="form-control" id="recipe_image_url"
                                placeholder="Place image URL here">
                        </div>
                    </div>
                    <!-- Add recipe button-->
                    <div class="text-center"><button class="add-recipe-btn" type="submit">Add Recipe</button></div>
                </form>

            </div>

        </div>
    </div>
</section>

{% endblock %}