{% extends "base.html" %}

{% block title %}
Veggie Planet | Edit Recipe
{% endblock %}

{% block content %}

<section id="add_recipe" class="d-flex justify-content-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">

        <div class="section-title">
            <h2>Edit Recipe</h2>
            <p>Add, Change And/Or Remove Entries..</p>
        </div>

        <div class="container" data-aos="fade-up">

            <div class="col-lg-12 mt-5 mt-lg-0">

                <form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST" name="edit-recipe-form" id="edit-recipe-form">
                    <div class="form-group">
                        <i class="fas fa-align-center"></i> <label class="form-field-description mb-2">Select Category</label>
                        <select class="form-control category-formfield mb-4" id="category_name" name="category_name">
                                <!-- Populates categories from database categories -->
                                {% for category in categories %}
                                {% if category.category_name == recipe.category_name %}
                                    <option value="{{category.category_name}}" selected>{{category.category_name}}</option>
                                {% else %}
                                    <option value="{{category.category_name}}">{{category.category_name}}</option>
                            {% endif %}
                                {% endfor %}
                            </select>
                    </div>
                    <div class="form-group">
                        <div class="controls mb-4">
                            <i class="fas fa-pencil-alt"></i> <label class="form-field-description mb-2">Recipe Name</label>
                            <input class="form-control" id="recipe_title" name="recipe_title" type="text" required data-validation-required-message="" value="{{ recipe.recipe_title }}" placeholder="Enter recipe name" maxlength="100">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="controls mb-4">
                            <i class="fas fa-comments"></i> <label class="form-field-description mb-2">Recipe Summary</label>
                            <input class="form-control" id="recipe_summary" name="recipe_summary" type="text" required data-validation-required-message="" value="{{ recipe.recipe_summary }}" placeholder="Insert short description of recipe" maxlength="100">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="controls mb-4">
                            <i class="fas fa-user-friends"></i> <label class="form-field-description mb-2">Servings</label>
                            <input class="form-control" id="recipe_servings" name="recipe_servings" type="number" required data-validation-required-message="" value="{{ recipe.recipe_servings }}" placeholder="Insert Number of people it serves">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="controls mb-4">
                            <i class="fas fa-hourglass-half"></i> <label class="form-field-description mb-2">Ready in</label>
                            <input class="form-control" id="recipe_ready_in" name="recipe_ready_in" type="number" required data-validation-required-message="" value="{{ recipe.recipe_ready_in }}" placeholder="Preparation and cooking time in minutes">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="controls mb-4">
                            <i class="fas fa-fire"></i> <label class="form-field-description mb-2">Calories per serving</label>
                            <input class="form-control" id="recipe_calories" name="recipe_calories" type="number" value="{{ recipe.recipe_calories }}"
                            required data-validation-required-message="Please enter estimated calories per serving" placeholder="Calories per serving. Please enter number">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="controls mb-4">
                            <i class="fas fa-list-ul"></i> <label class="form-field-description mb-2">Ingredients</label>
                            <textarea class="form-control" id="recipe_ingredients" name="recipe_ingredients" rows="5" maxlength="3000">{{ ingredients }}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="controls mb-4">
                            <i class="fas fa-clipboard-list"></i> <label class="form-field-description mb-2">Instructions</label>
                            <textarea class="form-control" id="recipe_method" name="recipe_method" rows="5" maxlength="3000">{{ instructions }}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="controls mb-4">
                            <i class="far fa-images"></i> <label class="form-field-description mb-2">Recipe Image</label>
                            <input class="form-control" id="recipe_image_url" name="recipe_image_url" type="url" pattern="https://.*" required data-validation-required-message="" value="{{ recipe.recipe_image_url }}" placeholder="Paste link to recipe image here">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success" id="sendMessageButton">Update Recipe</button>
                    <a class="btn btn-success" href="{{ url_for('profile', username=session['user']) }}">Cancel</a>
                </form>

            </div>

        </div>
    </div>
</section>

{% endblock %}