{% extends "base.html" %}
{% block content %}

<section id="alternatives-section" class="alternatives-section">
    <div class="container" data-aos="fade-up">

        <div class="row mb-md-5 mb-sm-2">
            <div class="col-lg-12 mb-3" data-aos="zoom-in" data-aos-delay="100">
                <div class="title">
                    <h2 class="text-center">Egg Alternatives</h2>
                </div>
            </div>

            <div class="col-lg-6 mt-3 mb-md-5 mb-sm-0 mx-auto">
                <img src="{{ url_for('static', filename='img/chick.png') }}" class="img-fluid" alt="Image of piglet">
            </div>

            <div class="col-lg-12 pt-4 pt-lg-0 mt-2 mt-sm-1 content justify-content-center align-items-center">

                <p class="alternatives-section-paragraph">
                    If you are new to vegan baking, you may be wondering- what can I use instead of eggs for baking?
                    Luckily, there are tons of vegan egg substitutes for baking and Veggie Planet is going to dive into
                    10 of its
                    favorite egg replacements.
                </p>
            </div>
        </div>

        <div class="row mb-md-5 mb-sm-2">
            <div class="col-lg-12" data-aos="zoom-in" data-aos-delay="100">

            </div>
            <div class="col-lg-12 pt-4 pt-lg-0 content justify-content-center align-items-center">
                <h3 class="mb-3">Apple Sauce</h3>

                <p class="alternatives-section-paragraph">
                    Using apple sauce is a fat-free way to replace eggs in baked goods. Use ¼ cup of unsweetened apple
                    sauce to replace one egg. As well as reducing calories, this vegan egg replacer adds moisture and
                    flavour to cookies, cakes, muffins, and breads. Applesauce is commercially available or can be made
                    at home using fresh apples.
                </p>
            </div>
        </div>

        <div class="row mb-md-5 mb-sm-2 ">
            <div class="col-lg-12" data-aos="zoom-in" data-aos-delay="100">

            </div>
            <div class="col-lg-12 pt-4 pt-lg-0 content justify-content-center align-items-center">
                <h3 class="mb-3">Aquafaba</h3>

                <p class="alternatives-section-paragraph">
                    Aquafaba is the name for the viscous water in which legumes such as chickpeas have been cooked.
                    Roughly translated from the Latin for ‘bean water’, this vegan substitute can be used in place of
                    egg whites since the proteins and starches are structurally very similar. To use aquafaba as an egg
                    replacement in vegan recipes (for example, in meringues, marshmallows, ice cream, or mayonnaise),
                    substitute 1 tablespoon of aquafaba for 1 egg yolk, 2 tablespoons of aquafaba for 1 egg white, or 3
                    tablespoons of aquafaba for a whole egg.<br><br>

                    Aquafaba is remarkably affordable, since it is simply the liquid found in canned beans or chickpeas,
                    although it can can also be made at home by cooking dried beans and straining the liquid. In fact,
                    homemade aquafaba may be preferable, since canned beans often contain salt as well as residues from
                    the plastic lining of the can.
                </p>
            </div>
        </div>

        <div class="row mb-md-5 mb-sm-2">
            <div class="col-lg-12" data-aos="zoom-in" data-aos-delay="100">

            </div>
            <div class="col-lg-12 pt-4 pt-lg-0 content justify-content-center align-items-center">
                <h3 class="mb-3">Black Salt</h3>

                <p class="alternatives-section-paragraph">
                    Black salt, also known as kala namak, is a volcanic salt traditionally used in Asian cuisine. Due to
                    its high sulfur content, black salt has a strong flavour that mimics the taste of eggs, making it a
                    very popular ingredient in vegan cuisine. It works well in tofu scrambles, vegan egg salads,
                    quiches, frittatas, and vegan French toast, although it should be used sparingly. Black salt is
                    available at speciality grocery stores or online, but is starting to become available in more and
                    more supermarkets.
                </p>
            </div>
        </div>

        <div class="row mb-md-5 mb-sm-2">
            <div class="col-lg-12" data-aos="zoom-in" data-aos-delay="100">

            </div>
            <div class="col-lg-12 pt-4 pt-lg-0 content justify-content-center align-items-center">
                <h3 class="mb-3">Egg Substitute Powders</h3>

                <p class="alternatives-section-paragraph">
                    Several options for egg substitute powders can be found in most grocery stores. Versatile, vegan,
                    and gluten-free, they usually contain starch or flour and a raising agent, and make for an excellent
                    egg replacement when volume is important. Egg substitute powders won’t add unwanted flavour or
                    sweetness and can be used in cookies, muffins, cakes, and as a binding agent in vegan casseroles or
                    vegan meatloafs.
                </p>
            </div>
        </div>

        <div class="row mb-md-5 mb-sm-2">
            <div class="col-lg-12" data-aos="zoom-in" data-aos-delay="100">

            </div>
            <div class="col-lg-12 pt-4 pt-lg-0 content justify-content-center align-items-center">
                <h3 class="mb-3">Chickpea Flour</h3>

                <p class="alternatives-section-paragraph">
                    High in protein, chickpea flour works as both a binding and raising agent and is one of the best
                    natural egg replacements in baked goods such as scones, cookies, and biscotti. With a surprising
                    similar texture and flavour to eggs, chickpea flour has also become a common egg substitute in
                    omelettes and quiches. Mix 3 tablespoons of chickpea flour with 3 tablespoons of water for each egg
                    that is required, until it combines to a thick and creamy paste. Chickpea flour can be found in most
                    health stores and well-stocked grocery stores.
                </p>
            </div>
        </div>

        <div class="row mb-md-5 mb-sm-2">
            <div class="col-lg-12" data-aos="zoom-in" data-aos-delay="100">

            </div>
            <div class="col-lg-12 pt-4 pt-lg-0 content justify-content-center align-items-center">
                <h3 class="mb-3">Flaxseed</h3>

                <p class="alternatives-section-paragraph">
                    This nutritious seed is packed with antioxidants and can also be used as a vegan egg substitute in
                    baking and cooking when ground. Combine a tablespoon of ground flaxseed with 3 tablespoons of water,
                    stir to combine, and let stand for 5 minutes to thicken. Ground flaxseed emulates eggs’ binding
                    qualities in breads, cakes, muffins, cookies, burgers, and vegan meatballs.
                </p>
            </div>
        </div>

        <div class="row mb-md-5 mb-sm-2">
            <div class="col-lg-12" data-aos="zoom-in" data-aos-delay="100">

            </div>
            <div class="col-lg-12 pt-4 pt-lg-0 content justify-content-center align-items-center">
                <h3 class="mb-3">Ripe Bananas</h3>

                <p class="alternatives-section-paragraph">
                    Ripe bananas work as a vegan egg substitute by adding moisture to plant-based recipes, while also
                    imparting sweetness. However, be sure to add more of the raising agent (such as baking powder) to
                    avoid dense baked goods. Ripe bananas are best suited for cakes, pancakes, and brownies. Use one
                    medium ripe banana, mashed up, to replace one egg.
                </p>
            </div>
        </div>

        <div class="row mb-md-5 mb-sm-2">
            <div class="col-lg-12" data-aos="zoom-in" data-aos-delay="100">

            </div>
            <div class="col-lg-12 pt-4 pt-lg-0 content justify-content-center align-items-center">
                <h3 class="mb-3">Silken Tofu</h3>

                <p class="alternatives-section-paragraph">
                    Tofu is a protein-packed vegan egg substitute, while silken tofu adds a creamy texture when used as
                    an egg substitute in cheesecakes, ice cream, sour cream, or puddings. Firm tofu is a great option
                    for egg-free cooking, and works best in savoury dishes such as eggless quiches, lasagne, vegan egg
                    salad, or a breakfast scramble. A quarter cup of pureed silken tofu can be used to replace one egg.
                    Tofu is generally available at grocery stores.
                </p>
            </div>
        </div>

        <div class="row mb-md-5 mb-sm-2">
            <div class="col-lg-12" data-aos="zoom-in" data-aos-delay="100">

            </div>
            <div class="col-lg-12 pt-4 pt-lg-0 content justify-content-center align-items-center">
                <h3 class="mb-3">Tapioca Starch</h3>

                <p class="alternatives-section-paragraph">
                    Tapioca starch is used as a binding or thickening agent for sauces, puddings, and condiments. Use 1
                    tablespoon of tapioca starch, blended with 3 teaspoons of water, to replace one egg.
                </p>
            </div>
        </div>

        <div class="row mb-md-5 mb-sm-2">
            <div class="col-lg-12" data-aos="zoom-in" data-aos-delay="100">

            </div>
            <div class="col-lg-12 pt-4 pt-lg-0 content justify-content-center align-items-center">
                <h3 class="mb-3">Turmeric</h3>

                <p class="alternatives-section-paragraph">
                    Turmeric is a spice that can be used in egg-free dishes to produce a light yellow color. It comes in
                    powdered form or as a small root and is well known for its anti-inflammatory properties.1 Turmeric
                    is available at grocery stores. A small pinch will give an egg-like colour to light-coloured food.
                </p>
            </div>
        </div>

    </div>
</section>
<!-- End About Section -->

{% endblock %}