{% extends "base.html" %}

{% block title %}

{% endblock %}


{% block content %}

    {% for recipe in recipes %}
        <p>{{ recipe.category_name }}</p>
        <h2>{{ recipe.recipe_title }}</h2>
        <p>{{ recipe.recipe_summary }}</p>
        <p>{{ recipe.servings }}</p>
        <p>{{ recipe.ready_in }}</p>
        <p>{{ recipe.calories }}</p>
        <br>
        <h3><u>Ingredients:</u></h3>
        {% for ingredient in recipe.recipe_ingredients %}
            <ul>
                <li>{{ ingredient }}</li>
            </ul>
        {% endfor %}
        <h3><u>Method:</u></h3>
        <ol>
        {% for step in recipe.recipe_method %}
                <li>{{ step }}</li><br>
        {% endfor %}
        </ol>
    {% endfor %}
{% endblock %}