{% extends "base.html" %}
{% block content %}

<section id="alternatives-section" class="alternatives-section">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-12" data-aos="zoom-in" data-aos-delay="100">
                <div class="title">
                    h1.text-center
                </div>
            </div>
            <div
                class="col-lg-12 pt-4 pt-lg-0 content justify-content-center align-items-center">
                <h3 class="mb-3">Alternative</h3>

                <p class="about-paragraph">
                    A vegan lifestyle prevents a tremendous amount of animal slaughter and suffering. It offers a
                    potent way to shrink our environmental footprint, especially in regard to climate change. And a
                    well-planned vegan diet can fuel the highest levels of fitness, while reducing our risk of
                    various chronic diseases. Plus, the food is insanely delicious and it becomes more widely
                    available every year. Finding a large collection of vegan recipes without having to visit
                    many websites can be quite a challenge however, and this is why Veggie Planet was created, to
                    produce a large database of vegan recipes over time with the help of its users. As a visitor,
                    you can
                    use Veggie Planet to browse our entire database of recipes and look for inspiration, but you can
                    also
                    add your own recipes for the world to see and try out!
                </p>
            </div>
        </div>

    </div>
</section>
<!-- End About Section -->

{% endblock %}