{% extends "base.html" %}

{% block title %}
Veggie Planet | Meat Alternatives
{% endblock %}

{% block content %}

<section id="alternatives-section" class="alternatives-section">
    <div class="container" data-aos="fade-up">

        <div class="row mb-md-5 mb-sm-2">
            <div class="col-lg-12 mb-3" data-aos="zoom-in" data-aos-delay="100">
                <div class="title">
                    <h2 class="text-center">Meat Alternatives</h2>
                </div>
            </div>

            <div class="col-lg-6 mt-3 mb-md-5 mb-sm-0 mx-auto">
                <img src="{{ url_for('static', filename='img/piglet.png') }}" class="img-fluid" alt="Image of piglet">
            </div>

            <div class="col-lg-12 pt-4 pt-lg-0 mt-2 mt-sm-1 content justify-content-center align-items-center">

                <p class="alternatives-section-paragraph">
                    Nutritionists and climate experts alike are warning against the consequences of the current high
                    levels of meat consumption in much of the world, while increasing numbers of consumers are viewing
                    the consumption of meat in a negative light. Vegan products offer many health benefits and are
                    significantly more sustainable than meat. Veggie Planet presents the 10 best meat alternatives.
                </p>
            </div>
        </div>

        <div class="row mb-md-5 mb-sm-2">
            <div class="col-lg-12" data-aos="zoom-in" data-aos-delay="100">

            </div>
            <div class="col-lg-12 pt-4 pt-lg-0 content justify-content-center align-items-center">
                <h3 class="mb-3">Tofu</h3>

                <p class="alternatives-section-paragraph">
                    Tofu is the classic meat alternative and has been one of the basic sources of nutrition in Asia for
                    centuries. It is appreciated in particular as a low-calorie source of protein. Tofu is also
                    versatile as it easily absorbs aromas from spices and marinades. Today, tofu is available in
                    countless variations, including aromatic, smoked versions, and marinated varieties flavoured with
                    various herbs and spices.<br><br>

                    Tofu is made using soaked soya beans, which are mashed with water to form a smooth puree.
                    Afterwards, the puree is filtered, which separates the firm, fibrous constituents from the liquid
                    content. The liquid is then heated to just below boiling point and curdled, which solidifies the
                    liquid content in a similar way to how cheese is made. The tofu is then pressed into slabs, while
                    the leftover solid mass, commonly known as okara or soya, is dehydrated and used as mince, chunks,
                    or cutlets.
                </p>
            </div>
        </div>

        <div class="row mb-md-5 mb-sm-2 ">
            <div class="col-lg-12" data-aos="zoom-in" data-aos-delay="100">

            </div>
            <div class="col-lg-12 pt-4 pt-lg-0 content justify-content-center align-items-center">
                <h3 class="mb-3">Soya Protein</h3>

                <p class="alternatives-section-paragraph">
                    Soya chunks and mince are very inexpensive ingredients that are easy to prepare. They consist of
                    dehydrated soya which, once mixed with water, can be used as a meat substitute in almost any dish.
                    Soya is most commonly sold as mince, cutlets, or balls. As with tofu, marinades and spice mixtures
                    can be added to produce virtually any aroma or flavour. This makes soya ideal for vegetarian
                    burgers, meatballs, cutlets, bolognese sauce, or chilli sin carne.
                </p>
            </div>
        </div>

        <div class="row mb-md-5 mb-sm-2">
            <div class="col-lg-12" data-aos="zoom-in" data-aos-delay="100">

            </div>
            <div class="col-lg-12 pt-4 pt-lg-0 content justify-content-center align-items-center">
                <h3 class="mb-3">Tempeh</h3>

                <p class="alternatives-section-paragraph">
                    Tempeh is a traditional Indonesian food, made from fermented soya beans. Similar to the production
                    of cheese, tempeh takes advantage of the effects of special bacterial cultures that break down the
                    protein in the beans and make them particularly accessible to the human digestive system. Containing
                    20% protein on average and a high fibre content, tempeh is ideal for a balanced diet. Thanks to its
                    versatility, there are no limits to one’s culinary creativity when using tempeh.
                </p>
            </div>
        </div>

        <div class="row mb-md-5 mb-sm-2">
            <div class="col-lg-12" data-aos="zoom-in" data-aos-delay="100">

            </div>
            <div class="col-lg-12 pt-4 pt-lg-0 content justify-content-center align-items-center">
                <h3 class="mb-3">Wheat Protein / Seitan</h3>

                <p class="alternatives-section-paragraph">
                    Seitan is the protein contained in wheat. Easy to season and prepare, and with a consistency similar
                    to meat, seitan is a popular meat substitute that has been a staple ingredient in Asian cuisine for
                    millennia. It is made by washing wheat flour dough with water until all the starch granules have
                    been removed, leaving only the wheat gluten. It acquires its meaty texture by boiling, baking, or
                    steaming the raw dough. Seitan is used in a broad range of products, including cold cuts, sausages,
                    and cutlets. Seitan powder is widely and cheaply available in many countries in the form of vital
                    wheat gluten and is ideal for making vegan sausages or cold cuts at home. Vital wheat gluten can be
                    made at home from wheat flour, although it is a time-consuming process. Since seitan is essentially
                    wheat gluten, it is not suitable for people with celiac disease or those who are following a
                    gluten-free diet.
                </p>
            </div>
        </div>

        <div class="row mb-md-5 mb-sm-2">
            <div class="col-lg-12" data-aos="zoom-in" data-aos-delay="100">

            </div>
            <div class="col-lg-12 pt-4 pt-lg-0 content justify-content-center align-items-center">
                <h3 class="mb-3">Lupin Protein</h3>

                <p class="alternatives-section-paragraph">
                    Like soya beans, lupins are protein-rich legumes. Considered one of the meat alternatives of the
                    future, the cultivation of lupins is particularly sustainable and easily possible in Europe, which
                    has an ideal climate for it. Products containing lupin protein include cutlets, doner kebabs, and
                    sausages. These are available from most organic food stores, vegan supermarkets, and online shops.
                </p>
            </div>
        </div>

        <div class="row mb-md-5 mb-sm-2">
            <div class="col-lg-12" data-aos="zoom-in" data-aos-delay="100">

            </div>
            <div class="col-lg-12 pt-4 pt-lg-0 content justify-content-center align-items-center">
                <h3 class="mb-3">Green Spelt</h3>

                <p class="alternatives-section-paragraph">
                    Spelt is a species of wheat and one of the oldest cultivated grains. Green spelt is the name for
                    spelt grain that is harvested while semi-ripe. Once harvested, it is roasted and dried to improve
                    its shelf life. This process lends the spelt a particularly intense flavour and makes it easily
                    digestible. Green spelt has an especially high content of B vitamins, along with significant
                    quantities of magnesium and phosphorus. Bruised grain and semolina made from green spelt are a good
                    basis for vegetarian/vegan patties, cutlets, and meat(free)balls. Green spelt is available from
                    organic health food stores and supermarkets in the form of partially prepared cutlets, bruised
                    grain, or semolina.
                </p>
            </div>
        </div>

        <div class="row mb-md-5 mb-sm-2">
            <div class="col-lg-12" data-aos="zoom-in" data-aos-delay="100">

            </div>
            <div class="col-lg-12 pt-4 pt-lg-0 content justify-content-center align-items-center">
                <h3 class="mb-3">Oat Flakes</h3>

                <p class="alternatives-section-paragraph">
                    Oat flakes can be used to prepare delicious cutlets. These consist of fried oat dough combined with
                    vegetable broth, a little fat, grated carrots or courgettes, and usually other vegetable proteins.
                    Oat flakes are an ideal source of zinc and iron and are available at an affordable price from any
                    supermarket or discounter. Oat flakes provide a slow and steady supply of complex carbohydrates,
                    which can prevent hunger and thus promote fat loss. Oats are an increasingly favoured source of
                    protein and are even available in the form of ‘pulled oats’, which are an alternative to pulled
                    pork.
                </p>
            </div>
        </div>

        <div class="row mb-md-5 mb-sm-2">
            <div class="col-lg-12" data-aos="zoom-in" data-aos-delay="100">

            </div>
            <div class="col-lg-12 pt-4 pt-lg-0 content justify-content-center align-items-center">
                <h3 class="mb-3">Black Beans</h3>

                <p class="alternatives-section-paragraph">
                    Burgers made from black beans are a popular, healthy, and delicious alternative to ready-made
                    products and fast food restaurant fare. Black beans are rich in protein and fibre. The darker the
                    bean, the more anthocyanins it contains. This natural vegetable colourant is a potent antioxidant.
                </p>
            </div>
        </div>

        <div class="row mb-md-5 mb-sm-2">
            <div class="col-lg-12" data-aos="zoom-in" data-aos-delay="100">

            </div>
            <div class="col-lg-12 pt-4 pt-lg-0 content justify-content-center align-items-center">
                <h3 class="mb-3">Chickpeas</h3>

                <p class="alternatives-section-paragraph">
                    Chickpeas should be an integral part of any diet due to their beneficial nutrient composition. They
                    contain more protein than many types of meat, provide a substantial portion of iron, and have a
                    calcium content similar to that of milk. Rich in fibre, chickpeas are very filling and constitute
                    the basic ingredient in several Middle Eastern dishes, including falafel and hummus.
                </p>
            </div>
        </div>

        <div class="row mb-md-5 mb-sm-2">
            <div class="col-lg-12" data-aos="zoom-in" data-aos-delay="100">

            </div>
            <div class="col-lg-12 pt-4 pt-lg-0 content justify-content-center align-items-center">
                <h3 class="mb-3">Pea Protein</h3>

                <p class="alternatives-section-paragraph">
                    The humble pea is one of a number of other plant-based sources of protein that have been carving a
                    niche for themselves lately as meat alternatives. Pea-based products currently available on the
                    market are manufactured as a combination of vegetables, pea protein, and various spices. They
                    contain a lot of protein and iron and are low in fat and carbohydrates. Although meat substitutes
                    made from pea protein are increasingly available, for now, they are mostly found at vegan-friendly
                    supermarkets.
                </p>
            </div>
        </div>

    </div>
</section>
<!-- End About Section -->

{% endblock %}