{% extends "base.html" %}

{% block title %}
Veggie Planet | Milk Alternatives
{% endblock %}

{% block content %}

<section id="alternatives-section" class="alternatives-section">
    <div class="container" data-aos="fade-up">

        <div class="row mb-md-5 mb-sm-2">
            <div class="col-lg-12 mb-3" data-aos="zoom-in" data-aos-delay="100">
                <div class="title">
                    <h2 class="text-center">Milk Alternatives</h2>
                </div>
            </div>

            <div class="col-lg-6 mt-3 mb-md-5 mb-sm-0 mx-auto">
                <img src="{{ url_for('static', filename='img/calf.png') }}" class="img-fluid" alt="Image of piglet">
            </div>

            <div class="col-lg-12 pt-4 pt-lg-0 mt-2 mt-sm-1 content justify-content-center align-items-center">

                <p class="alternatives-section-paragraph">
                    Although plant milks have been consumed for centuries in various cultures, their popularity has
                    skyrocketed over the past decade. People choose plant milk over dairy milk for a variety of reasons.
                    Whether it is for their nutritional value, animal-welfare reasons, lower environmental impact, to
                    avoid lactose or dairy milk allergens, or simply out of preference, there are many great options to
                    try. Veggie Plaanet presents the 10 best plant milks.
                </p>
            </div>
        </div>

        <div class="row mb-md-5 mb-sm-2">
            <div class="col-lg-12" data-aos="zoom-in" data-aos-delay="100">

            </div>
            <div class="col-lg-12 pt-4 pt-lg-0 content justify-content-center align-items-center">
                <h3 class="mb-3">Almond Milk</h3>

                <p class="alternatives-section-paragraph">
                    Almond milk has a mild and slightly nutty taste and is ideal for eating with cereals. Nutritionally,
                    almond milk is quite different to soya or dairy milk. It has fewer calories and much less protein.
                    The small amount of fat in almond milk is unsaturated fat, which should be preferred from a health
                    perspective. Because almond milk is so strongly diluted with water, it is relatively low in calories
                    but also much lower in nutrients, compared to unprocessed almonds.However, home-made almond milk can
                    be a rich source of calcium, if enough almonds are used.
                </p>
            </div>
        </div>

        <div class="row mb-md-5 mb-sm-2 ">
            <div class="col-lg-12" data-aos="zoom-in" data-aos-delay="100">

            </div>
            <div class="col-lg-12 pt-4 pt-lg-0 content justify-content-center align-items-center">
                <h3 class="mb-3">Cashew Milk</h3>

                <p class="alternatives-section-paragraph">
                    Cashew milk has a slightly nutty taste and is suitable for cooking and baking. The fat contained is
                    mostly unsaturated fat1 and can be a great choice for people with high cholesterol levels or who
                    need to watch their fat intake. Cashew milk has only about two grams of carbohydrates per cup. It is
                    suitable for use in coffee and adds a thickness that works wonderfully in lattes.
                </p>
            </div>
        </div>

        <div class="row mb-md-5 mb-sm-2">
            <div class="col-lg-12" data-aos="zoom-in" data-aos-delay="100">

            </div>
            <div class="col-lg-12 pt-4 pt-lg-0 content justify-content-center align-items-center">
                <h3 class="mb-3">Coconut Milk</h3>

                <p class="alternatives-section-paragraph">
                    Coconut milk is a great option for cooking and is usually available in cans. It is ideal for cooking
                    and baking, giving
                    food a delicious aroma. Coconut milk is delicious in a wide range of recipes – from curries to
                    vegetable soups, smoothies, chia seed pudding, and even ice cream. The thin coconut milk for
                    drinking that comes in a carton is great in a cup of coffee or in cereal.
                </p>
            </div>
        </div>

        <div class="row mb-md-5 mb-sm-2">
            <div class="col-lg-12" data-aos="zoom-in" data-aos-delay="100">

            </div>
            <div class="col-lg-12 pt-4 pt-lg-0 content justify-content-center align-items-center">
                <h3 class="mb-3">Hazelnut Milk</h3>

                <p class="alternatives-section-paragraph">
                    Hazelnut milk is a creamy treat for the palate and has a delicious nutty flavour, which makes it a
                    great choice for baked goods or adding
                    to coffee, while hot chocolate made with hazelnut milk is a great dairy-free alternative to
                    traditional hot chocolate.
                </p>
            </div>
        </div>

        <div class="row mb-md-5 mb-sm-2">
            <div class="col-lg-12" data-aos="zoom-in" data-aos-delay="100">

            </div>
            <div class="col-lg-12 pt-4 pt-lg-0 content justify-content-center align-items-center">
                <h3 class="mb-3">Hemp Milk</h3>

                <p class="alternatives-section-paragraph">
                    Hemp milk is made from the seeds of the hemp plant. It is low in carbohydrates and high in fat – but
                    most of those are unsaturated fats, which should be preferred from a health perspective. Just one
                    glass of hemp milk can provide 50% of the recommended daily intake of alpha-linolenic acid, and is
                    therefore a good source of omega-3 fatty acids Because of its slightly nutty taste, hemp milk is
                    great with cereals but is also suitable for use in cooking and baking.
                </p>
            </div>
        </div>

        <div class="row mb-md-5 mb-sm-2">
            <div class="col-lg-12" data-aos="zoom-in" data-aos-delay="100">

            </div>
            <div class="col-lg-12 pt-4 pt-lg-0 content justify-content-center align-items-center">
                <h3 class="mb-3">Macademia Nut Milk</h3>

                <p class="alternatives-section-paragraph">
                    Macadamia milk is a delicious milk alternative, and has arrived on the scene much more recently than
                    the other nut milks mentioned here
                    and is still not widely available. It is low in calories but also very low in both protein and
                    carbohydrates. It tastes great on its own and is particularly suitable for desserts and coffee.
                </p>
            </div>
        </div>

        <div class="row mb-md-5 mb-sm-2">
            <div class="col-lg-12" data-aos="zoom-in" data-aos-delay="100">

            </div>
            <div class="col-lg-12 pt-4 pt-lg-0 content justify-content-center align-items-center">
                <h3 class="mb-3">Oat Milk</h3>

                <p class="alternatives-section-paragraph">
                    Oat milk is definitely on the rise. It is slightly sweet, with a thin consistency that is similar
                    to low-fat milk. With their high
                    content of dietary fibre, phytochemicals, and antioxidants, oats are a particularly healthy food.
                    Studies show that regular consumption of oats can have a positive effect on gastrointestinal
                    problems, and several publications have attested to the cholesterol-lowering properties of oats.
                    First studies show that also oat milk can have a positive effect on cholesterol levels. Oat milk
                    tastes great with cereals and is suitable for cooking and baking.
                </p>
            </div>
        </div>

        <div class="row mb-md-5 mb-sm-2">
            <div class="col-lg-12" data-aos="zoom-in" data-aos-delay="100">

            </div>
            <div class="col-lg-12 pt-4 pt-lg-0 content justify-content-center align-items-center">
                <h3 class="mb-3">Rice Milk</h3>

                <p class="alternatives-section-paragraph">
                    Possibly the best option for people with allergies. From a nutritional point of view,
                    rice milk, which is a cereal-based milk, offers no advantages over
                    other plant milks, save for the fact that it is the most hypoallergenic milk available and therefore
                    particularly suitable for people with allergies and intolerances. Rice milk is comparatively high in
                    carbohydrates but low in fat, protein, and other nutrients if not enriched or fortified. During
                    processing, the carbohydrates are split into sugars, which gives rice milk its typically sweet taste
                    without any added sugar.
                </p>
            </div>
        </div>

        <div class="row mb-md-5 mb-sm-2">
            <div class="col-lg-12" data-aos="zoom-in" data-aos-delay="100">

            </div>
            <div class="col-lg-12 pt-4 pt-lg-0 content justify-content-center align-items-center">
                <h3 class="mb-3">Soya Milk</h3>

                <p class="alternatives-section-paragraph">
                    Soya milk, still the most popular plant milk, belongs to the legume-based category. It is the only
                    milk alternative that naturally contains the same amount of protein as cow’s milk, with about 3 g
                    per 100 ml. Due to the fact that many manufacturers fortify soya milk with calcium and other
                    vitamins, such as B12, B2, D, and A, nutrition experts state that it can be used as a nutritionally
                    adequate alternative to cow’s milk. In addition, soya milk has similar characteristics to cow’s milk
                    when used as a replacement in cooking, baking, and frothing for coffee. Soya milk is also available
                    in various flavours, such as vanilla, chocolate, or banana.
                </p>
            </div>
        </div>

        <div class="row mb-md-5 mb-sm-2">
            <div class="col-lg-12" data-aos="zoom-in" data-aos-delay="100">

            </div>
            <div class="col-lg-12 pt-4 pt-lg-0 content justify-content-center align-items-center">
                <h3 class="mb-3">Spelt Milk</h3>

                <p class="alternatives-section-paragraph">
                    As a relative of wheat, spelt milk contains gluten, so it is not suitable for anyone with celiac
                    disease or gluten intolerance. Since spelt milk has a relatively sweet taste, even without added
                    sugar, it is particularly suitable for sweet dishes and can be used as a natural sweetener, for
                    example, in coffee.
                </p>
            </div>
        </div>

    </div>
</section>
<!-- End About Section -->

{% endblock %}