{% extends "base.html" %}

{% block content %}

<!-- Log in -->
<section id="profile" class="profile">
    <div class="container" data-aos="fade-up">
        <h2 class="section-title welcome-message text-center">{{ username }}'s Profile</h2>
    </div>

    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-12 mt-0 mt-lg-0">
                {% for recipe in user_recipe %}
                    {{ recipe }}
                {% endfor %}
            </div>
        </div>
    </div>

</section>
<!-- End Login Section -->

{% endblock %}