{% extends "base.html" %}

{% block title %}
Veggie Planet | View Recipe
{% endblock %}

{% block content %}

<section id="single_recipe" class="single_recipe">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center mb-3">
                <h3>{{ recipe.recipe_title }}</h3>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center">
                <div class="single_recipe-img">
                    <img src="{{ recipe.recipe_image_url }}" alt="" class="recipe-img-single">
                </div>
            </div>   
        </div>

        <div class="row mt-2 mb-4">
            <div class="col-sm-12 text-center">
                <p class="mt-3 recipe_summary">
                    <strong>{{ recipe.recipe_summary }}</strong>
                </p>
                <p>
                    <i class="fas fa-user-friends"></i> Serves: {{ recipe.recipe_servings }}
                </p>
                <p class="ready-in">
                    <i class="fas fa-clock"></i> Ready In: {{ recipe.recipe_ready_in }}
                </p>
                <p class="calories">
                    <i class="fab fa-nutritionix"></i> Calories Per Serving: {{ recipe.recipe_calories }} kCal
                </p>
            </div>
        </div>
        <hr style="border-top: dashed 3px rgba(255,255,255,0.4);">
        
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 d-flex justify-content-start">
                <ul class="ingredients">
                    <h3>Ingredients:</h3>
                    <hr class="ingredient-hr">
                    {% for ingredient in recipe.recipe_ingredients %}
                        <li class="ingredient">{{ ingredient }}</li>
                        <hr class="ingredient-hr">
                    {% endfor %}
                </ul>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 d-flex justify-content-center">
                <ul class="method">
                    <h3>Method:</h3>
                    <hr class="ingredient-hr">
                    {% for step in recipe.recipe_method %}
                        <p class="step-counter"><strong>Step {{ loop.index }}:</strong></p>
                        <li class="step">{{ step }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock %}

<!-- <div class="row mb-5">
    
    <div class="col-lg-12 mb-5 d-flex justify-content-center" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
            <div class="col-lg-12">
                <h3>{{ recipe.recipe_title }}</h3>
            </div>
            <div class="col-lg-12">
                <div class="find_recipe-img">
                    <img src="{{ recipe.recipe_image_url }}" alt="" class="mh-75 recipe-img">
                </div>
            </div>
        </div>
    </div>
    
    
    <div
        class="my-auto col-lg-12 pt-4 pt-lg-0 content text-center justify-content-center align-items-center">
        <p class="fst-italic mt-5">
            {{ recipe.recipe_summary }}
        </p>
        <p>
            <strong>Serves:</strong> {{ recipe.recipe_servings }}
        </p>
        <p class="ready-in">
            <strong>Ready In:</strong> {{ recipe.recipe_ready_in }}
        </p>
    </div>
    
    
    <div class="row mt-5 mb-5">
        <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
            <ul class="ingredients">
                {% for ingredient in recipe.recipe_ingredients %}
                    <li class="ingredient">{{ ingredient }}</li>
                {% endfor %}
            </ul>
        </div>
    
    
        <div
            class="my-auto col-lg-8 pt-4 pt-lg-0 content text-center justify-content-center align-items-center">
            <ol class="cooking-steps">
                {% for step in recipe.recipe_method %}
                    <li class="step">{{ step }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div> -->